[build]
  command = "cd apps/necroplay && pnpm install && pnpm build"
  publish = "apps/necroplay/.next"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/next"
  status = 200

[build.environment]
  NODE_VERSION = "18"
  PNPM_VERSION = "8.12.0"
